@use 'base/variables' as v;
@use 'base/mixins' as m;



.contenedor-sm-blistado{

    margin: 0 2.8rem 1rem 2.8rem;
.boton{
 
    @include m.boton2 (v.$verde2, v.$negro);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.3rem; 
    
}
}

.contenedor-listado{

    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.2);;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; 
    
    &__td, &__th {
    vertical-align: middle; 
   }

    &__thead{
        background-color: v.$grisOscuro;
        color: v.$blanco;
    }

    &__th{
        padding: 0.6rem;
        text-align: center;
    }

    &__tr{
        &:nth-child(even){
            background-color: v.$grisClaro;
            
        }
    }


    &__td{
        padding: 0.5rem;
        font-family: v.$fuente_headings;
        text-align: center;
    

        &--acciones{
            @extend .table__td;
            display:flex;
            justify-content: flex-end; //para colocar el boton eliminar al lado derecho
            gap: 0.5rem;
            align-items: center;
        }
    }

    &__accion{
        all:unset;
        text-transform: uppercase;
        font-size: 0.8rem;

        &--editar{
            color: v.$azul;
            font-weight: bold;

        }
        &--eliminar{
            color: v.$rojo;
            font-weight: bold;
        }

        &:hover{
            cursor: pointer;
        }
    }

}
